* {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


body {

     margin: 0;
    background: #DCDCDC;
    min-height: 100vh;
    background-repeat: no-repeat;
    font-family: cambria;
    

          

}

input{
    border: 2;
}


img{
    width: 100%;
    max-width: 400px;
}


.center{
    max-width: 1280px;
    padding:0 2%;
    margin:0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding:0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/*******************************************************************/

.whatsapp-link {
            position: fixed;
            width: 40px;
            height: 40px;
            bottom: 115px;
            right: 40px;
            background-color: #25d366;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            font-size: 33px;
            box-shadow: 1px 1px 2px #888;
            z-index: 1000;
        }
 
        .fa-whatsapp {
            margin-top: 0px;
        }



        

header{
border-bottom: 5px solid #000000; /* deixa botão em 3D  e com borda*/
  position: fixed;   /* fixar menu heade no Topo*/
   width: 100%;
   height: 70px;
  margin: 0px;
   z-index: 2;  /* posiçao  em primeiro luga no topo*/
    background:#778899

   
    }



.logo a{
  
    text-decoration: none; /* tira o anderline  barra*/ 
    color:white;
    font-weight: 700;  /* tamanho negrito */
    font-family: cambria;
    text-transform: uppercase;
    font-size: 23px;
    position: relative;
    top:-20px;  
}

nav.mobile{
        display: none;

    }


/******************************DESKTOP****************************************/


nav.desktop ul{

    position: relative;
    top:6px;
    list-style-type: none;
}

nav.desktop li{
    
    font-weight: 700;  /* tamanho negrito */
    font-size: 17px; /* tamanho da fonte */
    padding:10px 10px;  /* aulta e largura */
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    transition: 1s; /* efeitos vermelho */
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    color: red;
    text-decoration: underline;
}


/****************************** FIM DESKTOP****************************************/



/*************************************************************************/



#container-pedidos-ID1{  /* <section class="especialidades"> */
    padding: 0px 0;
    display: inline-block;
}


#central-ID1{
    margin:0px;
    padding: 0px 0px;  /* espaçamendo dos itens pros lados*/
    display: inline-block;
}

.card1{
    border-radius: 10px;
width: 100px;
height: 65px;
background-color: #77899; 
 text-align: center;

 /*width: 1350px;
height: 285px;
*/
}

  
    #foto1{

max-width: 600%;
width:  100px; 
height: 65px;
margin: 0px;


}





/***************************************************************************/


/*section.Titulo{ /*  <h2 class="title">CARREGADOR PARA CELULAR</h2> */
  /* font-size: 30px;
    text-align: center;
   color: #FFF; /* cor da fonte*/
/*padding: 0px 10px;  /* almenta borda*/
  /* border-radius: 20px ; /* formato redondo*/
  /*  background: #000000; 
     border-bottom: 5px solid #F8F8FF; /* deixa botão em 3D  e com borda*/ 


 section.container{  /* <section class="especialidades"> */
    padding: 40px 0px; /* alturas dos cardes*/
    
}


.box-central{
  margin:30px 0;
    padding: 0 200px;  /* espaçamendo dos itens pros lados*/
    flex-direction: column; /* deixa o texto em coluna*/
}

  .descriçao{

        padding: 0%;  /* tamanho das pordas*/
        border-radius: 13px;
   /*  border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #FFF;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #000000;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
 
}

.card{
border-radius: 10px;
width:  25vw; 
height: 70vh; 
background-color: #F8F8FF;
/* box-shadow: 25px 10px 8px #000000;*/

}

  
    .foto{

max-width: 100vw;
width:  25vw; 
height: 60vh;

}


/***************************************************************************/


 section.Titulo{  /* <section class="especialidades"> */
    padding: 10px 0;
    /*display: inline-block; */
    text-align: center;
}

 #central-ID-titulo{

 }


.descriçao-titulo{

   /* padding: 1%;  /* tamanho das pordas*/
   /* border: 7px solid #FFF;  /* cor da borta das fotos*/
  /* cursor: pointer;  /*cursor pra foto*/
  /* background: #000000;*/
    font-size: 10;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
  /*  text-align: center*/

}

.card-titulo{
     
     text-align: center;
      color: #FFF; /* cor da fonte*/
     padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   background: #000000;
    border-radius: 5px ; /* formato redondo*/

 }



/*************************************************************************/

 


 section.container-BN{  /* <section class="especialidades"> */
    padding: 70px 0px;  /* alturas dos cardes*/
    display: inline-block;
}


.box-central-BN{
    margin: -2px; /* espaçamentos do cardes*/
    padding: 0px 0px;  /* espaçamendo dos itens pros lados dos cardes*/
    display: inline-block;
}

  #descriçao2{

        padding: 0%;  /* tamanho das pordas*/
        border-radius: 5px;
   /*  border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #FFF;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #000000;
    font-weight: 1000; /* fonte com borda negrito */
 
}

.card-BN{
border-radius: 10px;
width:  49.2vw; 
height: 60vh; 
background-color: #F8F8FF;
/* box-shadow: 25px 10px 8px #000000;*/



}

  
    .foto-BN{

max-width: 100vw;
width:  50vw; 
height: 60vh; 


}

/******************************************************************************/





img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}



/********************************FOOTER INCIO*******************************************/

footer{
    border-bottom: 15px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    background: #000000;
    padding: 0px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight:400;
    font-size: 15px;
}

footer .Saiba-mais{
           color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;
}

/*
Para arrumar scroll-x do IE e EDGE.
*/

body{
    overflow-x: hidden;
}




@media screen and (max-width: 1024px){






/*************************************************************************/




/********************************FOOTER INCIO*******************************************/

footer{
    border-bottom: 15px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    background: #000000;
    padding: 0px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight:400;
    font-size: 15px;
}

footer .Saiba-mais{
           color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;
}

/*
Para arrumar scroll-x do IE e EDGE.
*/

body{
    overflow-x: hidden;
}




}

@media screen and (max-width: 768px){




    .w50{
        padding:20px;
        width: 50%;
    }

 
  @media screen and (max-width: 700px){


    .logo a{
  
    text-decoration: none; /* tira o anderline  barra*/ 
    color:white;
    font-weight: 700;  /* tamanho negrito */
    font-family: cambria;
    text-transform: uppercase;
    font-size: 10px;
    position: relative;
    top:-20px;  
}



    nav.desktop{
        display: none;
    }

/*********************BOTAO MOBILE ************************************/

nav.mobile{
        display: block;
    }


.botao-menu-mobile{
    font-size: 24px;
     cursor: pointer;
        color: white;
}

nav.mobile  ul{

        top: 60px;
        z-index: 2;
        position: absolute;
        left: 0;
        width: 100%;   /* tamanho  das bordas do menu */
        display: none;
        text-align: center;
       
       
    }

     nav.mobile li{

        font-weight: 700; /* fonte */ 
        width: 100%;
        display: block;
        background: black;
        border-bottom: 10px solid #F8F8FF; /* deixa botão em 3D  e com borda*/ 
        font-size: 17px;
        padding:8px 0;  /* tamanho das bolas*/
        border-radius: 100px ; /* formato redondo*/

    }

     nav.mobile li a{
       display: block;
        color: #FFF;
        text-decoration: none;
}



/*********************FIM BOTAO MOBILE************************************/


}

.it{
  padding: 5px 0 ; /* Alturas dos cards*/

}
.it1{
  padding: 0px 0; /* Alturas dos cards*/

}



  

   section.container-BN{
    padding: 30px 0px;  /*altura dos cards*/ 

}

    .box-central-BN{
     margin: -2px; /* espaçamentos do cardes*/
    padding: 8px 0px;  /* espaçamendo dos itens pros lados dos cardes*/
    display: inline-block;
}


 .card-BN{
   border-radius: 10px;
width:  50vw; 
height: 40vh; 
background-color: #F8F8FF;
/* box-shadow: 25px 10px 8px #000000;*/

}

    .foto-BN{

    max-width: 100vw;
width:  50.50vw; 
height: 40vh;
     
    }

    #descriçao{

        padding: 0%;  /* tamanho das pordas*/
     border-radius: 10px;
   /*  border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #FFF;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #000000;
    font-weight: 1000; /* fonte com borda negrito */
 
}


img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}






section.Titulo{  /* <section class="especialidades"> */
    padding: 10px 0;
    /*display: inline-block; */
    text-align: center;
}

 #central-ID-titulo{

 }


.descriçao-titulo{

   /* padding: 1%;  /* tamanho das pordas*/
   /* border: 7px solid #FFF;  /* cor da borta das fotos*/
  /* cursor: pointer;  /*cursor pra foto*/
  /* background: #000000;*/
    font-size: 10;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
  /*  text-align: center*/

}

.card-titulo{
     
     text-align: center;
      color: #FFF; /* cor da fonte*/
     padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   background: #000000;
    border-radius: 5px ; /* formato redondo*/

 }



/*************************************************************************/






/***************************************************************************/

 section.container3{  /* <section class="especialidades"> */
    padding: 0px 0px;  /* alturas das bolsas e afastar pro lado*/  
    
}


 section.container2{  /* <section class="especialidades"> */
    padding: 0px 0px;  /* alturas das bolsas e afastar pro lado*/  
    
}


 section.container1{  /* <section class="especialidades"> */
    padding: 5px 2px;  /* alturas das bolsas e afastar pro lado*/  
    
}


.box-central{
  margin: 0px;
    padding: 0px 15px ;  /* alturas das bolsas*/
    flex-direction: column; /* deixa o texto em coluna*/
    
    
}

  .descriçao{

        padding: 0%;  /* tamanho das pordas*/
        border-radius: 13px;
   /*  border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #FFF;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #000000;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
 
}

.card{
border-radius: 10px;
width: 185px;
height: 300px;
background-color: #F8F8FF;
/* box-shadow: 25px 10px 8px #000000;*/

}

  
    .foto{
 max-width: 100%;
  width:  229px;  /* largura*/
    height: 200px;
     padding: 0px;
  /*   border: 3px solid #F8F8FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/


}




/*************************************************************************/


    #container-pedidos-ID{
    padding: 10px 2px;  /*altura dos cards*/ 

}

    #central-ID{
     margin: -2px; /* espaçamentos do cardes*/
    padding: 0px 5px;  /* espaçamendo dos itens pros lados dos cardes*/
    display: inline-block;
}


 #carod-ID{
    border-radius: 10px;
width: 176px;
height: 270px;
background-color: #F8F8FF;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}

    #footo{

    max-width: 100%;
    width:  220px;  /* largura*/
    height: 220px;
     padding: 0px;
     border: 3px solid #F8F8FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
     
    }


/*****************************************************************/


footer{
    border-bottom: 15px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    background: #000000;
    padding: 10px 0;
    margin-top: 25px;

}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;

}

    footer .Saiba-mais{
           color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;
  }

}

/*Para arrumar scroll-x do IE e EDGE.*/

body{
    overflow-x: hidden;
    
   }
}
/***************************FIM FOOTER*************************************/


  }
