  * {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }


body {

     margin: 0;
    background: #fff;
    min-height: 100vh;
    background:red;
    background-repeat: no-repeat;
    

          

}

input{
    border: 2;
}


img{
    width: 100%;
    max-width: 400px;
}


.center{
    max-width: 1280px;
    padding:0 2%;
    margin:0 auto;
}

.w33{
    width: 33.3%;
    padding: 0 10px;
}

.w50{
    padding:0 10px;
    width: 50%;
}

.left{
    float: left;
}

.right{
    float: right;
}

.clear{
    clear: both;
}

/*******************************************************************/

.whatsapp-link {
            position: fixed;
            width: 40px;
            height: 40px;
            bottom: 115px;
            right: 40px;
            background-color: #25d366;
            color: #fff;
            border-radius: 50px;
            text-align: center;
            font-size: 33px;
            box-shadow: 1px 1px 2px #888;
            z-index: 1000;
        }
 
        .fa-whatsapp {
            margin-top: 0px;
        }



        

header{
border-bottom: 10px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
  position: fixed;   /* fixar menu heade no Topo*/
   width: 100%;
   height: 70px;
  margin: 0px;
   z-index: 2;  /* posiçao  em primeiro luga no topo*/
    background: #000000

   
    }



.logo a{
  
    text-decoration: none; /* tira o anderline  barra*/ 
    color: white;
    font-weight: 700;  /* tamanho negrito */
    text-transform: uppercase;
    font-size: 23px;
    left: 20;
    
}

nav.mobile{
        display: none;

    }


/******************************DESKTOP****************************************/


nav.desktop ul{

    position: relative;
    top:6px;
    list-style-type: none;
}

nav.desktop li{
    
    font-weight: 700;  /* tamanho negrito */
    font-size: 17px; /* tamanho da fonte */
    padding:10px 10px;  /* aulta e largura */
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    transition: 1s; /* efeitos vermelho */
    color: white;
    text-decoration: none;
}

nav.desktop a:hover{
    color: red;
    text-decoration: underline;
}


/****************************** FIM DESKTOP****************************************/



 #container-titulo-ID{  /* <section class="especialidades"> */
    padding: 10px 0;
    /*display: inline-block; */
    text-align: center;
}


 #central-ID-titulo{

 }

#descriçao-titulo{
    padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   background: #000000;
    font-size: 20px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
}

.card-titulo{

     text-align: center;
      color: #FFF; /* cor da fonte*/
     padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   background: #000000;
    border-radius: 5px ; /* formato redondo*/

 }



/*************************************************************************/





 #container-pedidos-ID{  /* <section class="especialidades"> */
    padding: 10px 0;
    display: inline-block;
}


#central-ID{
    margin:50px;
    padding: 0px 10px;  /* espaçamendo dos itens pros lados*/
    display: inline-block;
}



  #descriçao{

        padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #000000;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
 
}

.card{
    border-radius: 10px;
width: 300px;
height: 300px;
background-color: #F8F8FF;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}

  
    #foto{

max-width: 250%;
width:  250px; 
height: 210px; 

}

img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}

nav.tex-rolando {
    margin: 0px; /* altura das title*/
    font-size: 20px;
    text-align: center;
    color: #FFF; /* cor da fonte*/
    text-align: center;
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #000000; 
    border-bottom: 5px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    box-shadow: 25px 10px 8px #000000;  
}


/********************************FOOTER INCIO*******************************************/

footer{
    border-bottom: 15px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    background: #000000;
    padding: 0px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight:400;
    font-size: 15px;
}

footer .Saiba-mais{
           color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;
}

/*
Para arrumar scroll-x do IE e EDGE.
*/

body{
    overflow-x: hidden;
}




@media screen and (max-width: 1024px){




    #container-titulo-ID{  /* <section class="especialidades"> */
    padding: 10px 0;
    /*display: inline-block; */
    text-align: center;
}

 #central-ID-titulo{

 }


#descriçao-titulo{
    padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   background: #000000;
    font-size: 20px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
}

.card-titulo{

     text-align: center;
      color: #FFF; /* cor da fonte*/
     padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   background: #000000;
    border-radius: 5px ; /* formato redondo*/

 }



/*************************************************************************/





 #container-pedidos-ID{  /* <section class="especialidades"> */
    padding: 10px 0;
    display: inline-block;
}


#central-ID{
    margin:10px; /* espaçamento dos lados dos cards*/
    padding: 0px 20px;  /* espaçamendo dos container pros lados*/
    display: inline-block;

}


  #descriçao{

        padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #000000;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
 
}

.card{
    border-radius: 10px;
width: 250px;
height: 300px;
background-color: #F8F8FF;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}

  
    #foto{

max-width: 250%;
width:  250px; 
height: 210px; 

}

img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}

nav.tex-rolando {
    margin: 0px; /* altura das title*/
    font-size: 20px;
    text-align: center;
    color: #FFF; /* cor da fonte*/
    text-align: center;
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #000000; 
    border-bottom: 5px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    box-shadow: 25px 10px 8px #000000;  
}


/********************************FOOTER INCIO*******************************************/

footer{
    border-bottom: 15px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    background: #000000;
    padding: 0px 0;
}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight:400;
    font-size: 15px;
}

footer .Saiba-mais{
           color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;
}

/*
Para arrumar scroll-x do IE e EDGE.
*/

body{
    overflow-x: hidden;
}




}

@media screen and (max-width: 768px){




    .w50{
        padding:20px;
        width: 50%;
    }

 
  @media screen and (max-width: 700px){



    nav.desktop{
        display: none;
    }

/*********************BOTAO MOBILE ************************************/

nav.mobile{
        display: block;
    }


.botao-menu-mobile{
    font-size: 24px;
     cursor: pointer;
        color: white;
}

nav.mobile  ul{

        top: 60px;
        z-index: 2;
        position: absolute;
        left: 0;
        width: 100%;   /* tamanho  das bordas do menu */
        display: none;
        text-align: center;
       
       
    }

     nav.mobile li{

        font-weight: 700; /* fonte */ 
        width: 100%;
        display: block;
        background: black;
        border-bottom: 10px solid #F8F8FF; /* deixa botão em 3D  e com borda*/ 
        font-size: 17px;
        padding:8px 0;  /* tamanho das bolas*/
        border-radius: 100px ; /* formato redondo*/

    }

     nav.mobile li a{
       display: block;
        color: #FFF;
        text-decoration: none;
}



/*********************FIM BOTAO MOBILE************************************/


}

.it{
  padding: 5px 0 ; /* Alturas dos cards*/

}
.it1{
  padding: 0px 0; /* Alturas dos cards*/

}



    #container-titulo-ID{  /* <section class="especialidades"> */
    margin-top: 0px;
    text-align: center;


}

.card-titulo{

     text-align: center;
      color: #FFF; /* cor da fonte*/
     padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   background: #000000;
    border-radius: 5px ; /* formato redondo*/

 }

 #central-ID-titulo{

 }

#descriçao-titulo{
    padding: 1%;  /* tamanho das pordas*/
     border: 7px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   background: #000000;
    font-size: 20px;
    margin-top: 50px; /* Altura dos cards*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
    text-align: center;
}



/*************************************************************************/


    #container-pedidos-ID{
    padding: 10px 2px;  /*altura dos cards*/ 

}

    #central-ID{
    margin: 0px;
    padding: 0px ;  /* alturas das bolsas*/
    flex-direction: column; /* deixa o texto em coluna*/
}



.card{
    border-radius: 10px;
width: 176px;
height: 270px;
background-color: #F8F8FF;
 box-shadow: 25px 10px 8px #000000;
 text-align: center;

}

    #foto{

    max-width: 100%;
    width:  220px;  /* largura*/
    height: 220px;
     padding: 0px;
     border: 3px solid #F8F8FF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
     
    }

    #descriçao{

        padding: 0%;  /* tamanho das pordas*/
     border: 3px solid #FFF;  /* cor da borta das fotos*/
   cursor: pointer;  /*cursor pra foto*/
   width: fit-content;  /* alargura vai se adapta ao conteudo*/
   background: #000000;
    font-size: 12px;
    margin-top: 5px; /* espaçamento da letras*/
    color: #FFF;
    font-weight: 1000; /* fonte com borda negrito */
 
}


img:hover{
    border: 10px solid #FF0000;  /* ao colocar cursor em cima da foto as bordas fica vermelha*/
}


nav.tex-rolando {
    margin: 12px; /* altura das title*/
    font-size: 20px;
    text-align: center;
    color: #FFF; /* cor da fonte*/
    text-align: center;
    padding: 0px 10px;  /* almenta borda*/
    border-radius: 20px ; /* formato redondo*/
    background: #000000; 
    border-bottom: 5px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    box-shadow: 25px 10px 8px #000000;  
}



/*****************************************************************/


footer{
    border-bottom: 15px solid #F8F8FF; /* deixa botão em 3D  e com borda*/
    background: #000000;
    padding: 10px 0;
    margin-top: 25px;

}

footer.fixed{
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p{
    color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;

}

    footer .Saiba-mais{
           color: white;
    text-align: center;
    font-weight:400;
    font-size: 16px;
  }

}

/*Para arrumar scroll-x do IE e EDGE.*/

body{
    overflow-x: hidden;
    
   }
}
/***************************FIM FOOTER*************************************/


  }